@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import "node_modules/materialize-css/sass/materialize";
@import "node_modules/sweetalert/dev/sweetalert.scss";


#main-nav {
  a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}
